/* Site-wide */
html, body {
  display: flex;
  flex-direction: column;
  font-family: 'Source Serif Pro', serif;
  color: rgba(0, 0, 0, 0.8);
  background-color: #E4E5EA;
}
h1 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.75em;
  line-height: 1.25em;
}
h2 {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5em;
  line-height: 1.25em;
}
body {
  font-size: 100%;
  line-height: 1.56em;
  padding: 10px;
  margin: 0;
}
#site-nav {
  width: fit-content;
  position: relative;
  top: 25px;
}
#site-nav a {
  font-size: 1.25em;
  margin: 5px;
}
i.material-icons {
  position: relative;
  top: 3px;
}

a[href] {
  transition: all 0.2s ease;
  color: black;
  text-decoration: none;
}

a[href]:hover {
  text-decoration: underline;
  color: black;
}

/* Layout */
section, header, nav, div {
  display: flex;
  flex-direction: column;
}
summary {
  margin: 5px;
}
.col {
  flex-direction: column;
}
.row {
  flex-direction: row;
}

/* Header/Navigation */
header {
  flex-direction: col;
}
header h1 {
  text-align: center;
  margin: 0;
}
nav a {
  flex-wrap: wrap;
}
#site-nav i {
  position: relative;
  top: 6px;
  margin-right: 2px;
}

/* Content */
section {
  flex-wrap: wrap;
}
section p {
  margin: 0.25em;
}
section h1 {
  margin: 5px;
}
section h2 {
  margin: 0 10px;
}
section h3 {
  margin: 0 15px;
}
section h1 i {
  position: relative;
  top: 2px;
}

.hero {
  background-image: url(/img/hero-gradient.png);
  position:relative;
  width:100%;
  height:600px;
  background-size:contain;
  background-repeat:no-repeat;
  background-position:center;
  display: table;
}
