<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1" />
    <title>{{ page.title }}</title>
    <meta name="author" content="Fil Maj" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:description" content="{{ page.description }}" />
    <meta name="twitter:image" content="https://tootkitchen.com/img/hero-toot-no-bg.jpg" />
    <meta name="twitter:image:alt" content="Toot Kitchen Mulberry Banner" />
    <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
  </head>
  {% if page.title == "Toot Kitchen" %}
  <body class="hero">
  {% else %}
  <body>
  {% endif %}
    <header>
      {% if page.headerless == nil %}
      <h1><a href="/"><img src="/img/TOOT Logo V.01.1.Main-RGB.png" width=300 /></a></h1>
      {% endif %}
      <nav id="site-nav" class="sans-serif">
        {% if page.url contains '/about' %}
        <a href="/about" class="selected">About</a>
        {% else %}
        <a href="/about">About</a>
        {% endif %}
        <a href="https://toot-kitchen.square.site/s/shop">Shop Now</a>
        {% if page.url contains '/services' %}
        <a href="/services" class="selected">Services</a>
        {% else %}
        <a href="/services">Services</a>
        {% endif %}
        {% if page.url contains '/contact' %}
        <a href="/contact" class="selected">Contact</a>
        {% else %}
        <a href="/contact">Contact</a>
        {% endif %}
      </nav>
    </header>
    <section>
      {{ content }}
    </section>
  </body>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-27149382-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-27149382-3');
    function hideEverything() {
      const tabs = [
        document.getElementById('ingredients-tab'),
        document.getElementById('how-to-use-tab')
      ];
      const buttons = [
        document.getElementById('ingredients'),
        document.getElementById('how-to-use')
      ];
      tabs.forEach(function(tab) {
        tab.style.display = 'none';
      });
      buttons.forEach(function(button) {
        button.style.textDecoration = '';
      });
    }
    function tabclick(evt, el) {
      evt.preventDefault();
      hideEverything();
      document.getElementById(el.id).style.textDecoration = 'underline';
      document.getElementById(el.id + '-tab').style.display = '';
    }
  </script>
</html>
